{{ define "admin/new.html" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz - Admin - New</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.tmpl.min.js"></script>
  </head>
  <body>
    <h3>Create New Quiz</h3>
    <div class="container">
        <form method="POST">
            <div id="formQuestion" class="form-group">
                <label>Question</label>
                <textarea id="question" name="question" class="form-control"></textarea>
            </div>

            <div id="formAnswers" class="form-group">
                <label>Answers</label>
                <div id="formAnswerOptions">
                </div>

                <div class="form-inline">
                    <input id="textAdditionalAnswer" type="text" class="form-inline">
                    <button>Add</button>
                </div>

                <template id="templateAnswer">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="answerRadios" value="${description}">
                            ${description}
                        </label>
                    </div>
                </template>
            </div>

            <div id="formAnswerNote" class="form-group">
                <label>Answer Note</label>
                <textarea name="answerNote" class="form-control"></textarea>
            </div>

            <button id="submitButton" class="btn btn-primary">Confirm</button>
        </form>
    </div>
    <script>
        "use strict";

        function getQuestion() {
            return $($("#formQuestion").find("textarea")[0]);
        }

        function getAnswersArray() {
            var answerInputs = $("#formAnswers").find(".form-check-input");

            var answers = [];
            $.each(answerInputs, function(_, ai) {
                var answer = {
                    description: ai.value,
                    correct: ai.checked,
                };
                answers.push(answer)
            });

            return answers;
        }

        function getAnswerTemplate() {
            return $("#templateAnswer");
        }

        function getAnswerNote() {
            return $($("#formAnswerNote").find("textarea")[0]);
        }

        function getAdditionalAnswer() {
            return $("#textAdditionalAnswer");
        }

        function validate(reqData) {
            if ( reqData["question"] === "" ) {
                return "question must not be empty";
            }

            if ( reqData["answers"].length <= 1 ) {
                return "answers length must be over 1";
            }

            if ( reqData["answers"].findIndex(function(e) { return e.correct }) === -1 ) {
                return "answers must have correct element";
            }

            if ( reqData["answerNote"] === "" ) {
                return "answerNote must not be empty";
            }

            return "";
        }

        function addDeleteBtn(elem) {
            var deleteBtn = $('<span class="btn btn-danger">削除</span>');

            deleteBtn.on("click", function() {
                elem.remove();
            });

            deleteBtn.appendTo(elem);
        }

        function request(reqData, successCallback, errorCallback) {
            $.ajax({
                type: "POST",
                url: "/admin/new",
                contentType: "application/json",
                data: JSON.stringify(reqData),
                dataType: "json",
                success: successCallback,
                error: errorCallback
            });
        }

        (function() {
            $($("#formAnswers").find("button")[0]).on("click", function() {
                var additionalAnswerText = getAdditionalAnswer().val();
                if ( additionalAnswerText === "" ) {
                    return false;
                }

                var answerTemplate = getAnswerTemplate();
                var additionalAnswer = answerTemplate.tmpl({ description: additionalAnswerText });
                addDeleteBtn(additionalAnswer);
                additionalAnswer.appendTo("#formAnswerOptions");

                getAdditionalAnswer().val("");
                return false;
            });

            $("#submitButton").on("click", function() {
                var question = getQuestion().val();
                var answers = getAnswersArray();
                var answerNote = getAnswerNote().val();

                var quizData = {
                    question: question,
                    answers: answers,
                    answerNote: answerNote,
                };

                console.log(quizData);
                var err = validate(quizData);
                if ( err.length > 0 ) {
                    alert(err);
                    return false;
                }

                var reqData = {
                    quiz: quizData,
                    checkOnly: true
                };

                var errorCallback = function(xhr, textStatus, error) {
                    alert("failed to post data: " + textStatus)
                };
                var successCallback = function(data, dataType) {
                    if ( confirm("登録しますか？") ) {
                        reqData["checkOnly"] = false;
                        request(reqData, function(data, dataType) {
                            alert("post success")
                        })
                    }
                }

                request(reqData, successCallback, errorCallback);
                return false;
            })
        })();
    </script>
  </body>
</html>
{{ end }}

